* {
  margin: 0;
}

html {
  font-size: 1vw;
  background-color: #FCFBF4;
}

body {
  height: 100vh;
}

/* .mask {
  width: 100vw;
  height: 100vh;
  position: fixed;
  background-color: rgba(0, 0, 0, .5);
  top: 0;
  z-index: 2;
  display: none;
} */